{{define "title"}}
    New recipe
{{end}}


{{define "content"}}
    <form>
        <fieldset>
            <label>
                Name
                <input name="name" placeholder="Name" />
            </label>
            <label>
                Type
                <select name="type" aria-label="Select type..." required>
                    <option></option>
                    <option>wire</option>
                    <option>rod</option>
                    <option>smelter</option>
                </select>
            </label>
        </fieldset>

        <div class="grid">
            <div>
                <label>Ingredients</label>
                <fieldset role="group">
                    <input name="in_uid_1" placeholder="Item" />
                    <input name="in_count_1" placeholder="Amount" />
                </fieldset>
                <button type="button">Add</button>
            </div>
            <div>
                <label>Results</label>
                <fieldset role="group">
                    <input name="res_uid_1" placeholder="Item" />
                    <input name="res_count_1" placeholder="Amount" />
                </fieldset>
                <button type="button">Add</button>
            </div>
        </div>

        <input type="submit" value="Create" />
    </form>
{{end}}


