{{define "title"}}
    New recipe
{{end}}


{{define "content"}}
    <form>
        <fieldset>
            <label>
                Name
                <input name="name" placeholder="Name" />
            </label>
            <label>
                Type
                <select name="type" aria-label="Select type..." required>
                    <option></option>
                    <option>wire</option>
                    <option>rod</option>
                    <option>smelter</option>
                </select>
            </label>
        </fieldset>

        <div class="grid">
            <div>
                <label>Ingredients</label>
                <button type="button" hx-get="/item-popup" hx-target="this" hx-swap="beforebegin">Add</button>
            </div>
            <div>
                <label>Results</label>
                <button type="button" hx-get="/item-popup" hx-target="this" hx-swap="beforebegin">Add</button>
            </div>
        </div>

        <table>
            <tbody>
                <tr>
                    <td>
                        <div id="slot1item"></div>
                        <button type="button" hx-get="/item-popup?slot=1" hx-target="#slot1item" hx-swap="innerHtml">Add</button>
                    </td>
                    <td>
                        <div id="slot2item"></div>
                        <button type="button" hx-get="/item-popup?slot=2" hx-target="#slot2item" hx-swap="innerHtml">Add</button>
                    </td>
                    <td>
                        <div id="slot3item"></div>
                        <button type="button" hx-get="/item-popup?slot=3" hx-target="#slot3item" hx-swap="innerHtml">Add</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="slot4item"></div>
                        <button type="button" hx-get="/item-popup?slot=4" hx-target="#slot4item" hx-swap="innerHtml">Add</button>
                    </td>
                    <td>
                        <div id="slot5item"></div>
                        <button type="button" hx-get="/item-popup?slot=5" hx-target="#slot5item" hx-swap="innerHtml">Add</button>
                    </td>
                    <td>
                        <div id="slot6item"></div>
                        <button type="button" hx-get="/item-popup?slot=6" hx-target="#slot6item" hx-swap="innerHtml">Add</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="slot7item"></div>
                        <button type="button" hx-get="/item-popup?slot=7" hx-target="#slot7item" hx-swap="innerHtml">Add</button>
                    </td>
                    <td>
                        <div id="slot8item"></div>
                        <button type="button" hx-get="/item-popup?slot=8" hx-target="#slot8item" hx-swap="innerHtml">Add</button>
                    </td>
                    <td>
                        <div id="slot9item"></div>
                        <button type="button" hx-get="/item-popup?slot=9" hx-target="#slot9item" hx-swap="innerHtml">Add</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <input type="submit" value="Create" />
    </form>
{{end}}


