{{define "title"}}
    Items
{{end}}


{{define "content"}}
    <section>
        <table>
        {{range $index, $element := .}}
            <tr>
                <td>{{$element.Item.ID}}</td>
                <td>{{$element.Item.DisplayName}}</td>
                <td>
                    {{ template "item-widget" $element.Item }}
                </td>
                <td>{{$element.Count}}</td>
                </td>
            </tr>
        {{end}}
        </table>
    </section>
{{end}}
