{{define "title"}}
    Items
{{end}}


{{define "content"}}
    <section>
        <table>
        {{range $index, $element := .}}
            <tr>
                <td>{{$element.Item.ID}}</td>
                <td>{{$element.Item.DisplayName}}</td>
                <td>
                    <img src="data:image/png;base64, {{$element.Image}}" />
                </td>
                <td>{{$element.Count}}</td>
                </td>
            </tr>
        {{end}}
        </table>
    </section>
{{end}}
