{{define "title"}}
    Items
{{end}}


{{define "content"}}
    <section>
        <table>
        {{range $index, $element := .}}
            <tr>
                <td>{{$element.Id}}</td>
                <td>{{$element.Role}}</td>
                <td>{{$element.Online}}</td>
                <td>{{$element.LastLogin}}</td>
            </tr>
        {{end}}
        </table>
    </section>
{{end}}
