{{define "title"}}
    {{ .Item.DisplayName }} ({{.Item.ID}})
{{end}}

{{define "content"}}
    <section>
        {{ template "item-widget" .Item }}
        <button>
            <a href="/craft-plan/item/{{.Item.UID}}/1/">Craft</a>
        </button>
        <button>
            <a href="/recipes/new?item_1={{ .Item.UID }}&role_1=result&amount_1=1&name={{ .Item.DisplayName }}">Add craft recipe</a>
        </button>
    </section>
{{end}}

