{{define "item-widget"}}
    <div data-tooltip="{{ .UID }}" style="width: 32px; height: 32px;">
        <a href="/items/{{ .UID }}">
            <img src="data:image/png;base64, {{ .Base64Icon }}" />
        </a>
    </div>
{{end}}

{{define "items-list-widget"}}

{{end}}
