{{define "title"}}
    Recipes
{{end}}

{{define "content"}}
    <a href="/recipes/new">New recipe</a>
    <section>
        <table>
            {{$items := .items}}
            {{$formatI := .formatIngredients }}
            {{ range $index, $element := .recipes }}
                <tr>
                    <td><a href="/recipes/{{ $element.ID }}">{{ $element.Name }}</a></td>
                    <td>
                        <table>
                            {{$rows := call $formatI $element}}
                            {{ range $ri, $row := $rows }}
                                <tr>
                                    {{ range $ci, $item := $row }}
                                        <td> 
                                            {{ if $item }}
                                                {{ $item := index $items $item.ItemUID }}
                                                {{ template "item-widget" $item }}
                                            {{ end }}
                                        </td>
                                    {{ end }}
                                </tr>
                            {{ end }}
                        </table>
                    </td>
                    <td>
                        <div class="grid">
                            {{ range $index, $item := $element.Results }}
                                {{ $item := index $items $item.ItemUID }}
                                {{ template "item-widget" $item }}
                            {{ end }}
                        </div>
                    </td>
                </tr>
            {{end}}
        </table>
    </section>
{{end}}

