package components

import (
	"strconv"
	"fmt"
)

templ CraftList(crafts []CraftItem) {
	<table>
		for _, craft := range crafts {
			<tr>
				<td>
					{ strconv.Itoa(craft.Craft.ID) }
				</td>
				<td>
					{ strconv.Itoa(craft.Craft.Repeats) }
				</td>
				<td>
					@RecipesGrid(craft.Recipe)
				</td>
				<td>
					<button hx-post={ fmt.Sprintf("/crafts/%d/ping/", craft.Craft.ID) }>PING</button>
				</td>
			</tr>
		}
	</table>
}
