package components

import "github.com/asek-ll/aecc-server/internal/dao"

templ ItemReservesPage(reserves []dao.ItemReserve) {
	@Page("Item reserves") {
		<div id="items-reserves">
			<button hx-post="/item-reserves/clear/">Clear</button>
			<table>
				for _, reserve := range reserves {
					<tr>
						<td>
							@ItemStack(reserve.ItemUID, reserve.Amount)
						</td>
					</tr>
				}
			</table>
		</div>
	}
}
