package components

templ PeripheralsPage(names []string) {
	@Page("Peripherals") {
		<table id="peripheral-list">
			for _, name := range names {
				<tr>
					<td>
						{ name }
					</td>
				</tr>
			}
		</table>
	}
}
